data/src/main/java/com/jmelzer/jitty/model/xml/playerimport/nuliga-player-export.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2015 rel. 4 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="tournament">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tournament-location" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="competition" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required"/>
			<xs:attribute name="start-date" use="required"/>
			<xs:attribute name="end-date" use="required"/>
			<xs:attribute name="tournament-id" use="required"/>
			<xs:attribute name="winning-sets"/>
			<xs:attribute name="winning-sets-text"/>
			<xs:attribute name="multiple-participations-same-day"/>
			<xs:attribute name="multiple-participations-same-time"/>
			<xs:attribute name="table-count"/>
			<xs:attribute name="team-formation"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="tournament-location">
		<xs:complexType>
			<xs:attribute name="name"/>
			<xs:attribute name="street"/>
			<xs:attribute name="zip-code"/>
			<xs:attribute name="city"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="competition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="players"/>
				<xs:element ref="matches" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="age-group" use="required"/>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Mixed"/>
						<xs:enumeration value="Doppel"/>
						<xs:enumeration value="Einzel"/>
						<xs:enumeration value="Mannschaft"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="start-date" use="required"/>
			<xs:attribute name="ttr-from"/>
			<xs:attribute name="ttr-to"/>
			<xs:attribute name="ttr-remarks"/>
			<xs:attribute name="entry-fee"/>
			<xs:attribute name="age-from"/>
			<xs:attribute name="age-to"/>
			<xs:attribute name="sex"/>
			<xs:attribute name="preliminary-round-playmode"/>
			<xs:attribute name="final-round-playmode"/>
			<xs:attribute name="max-persons"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="players">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="player" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="player">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="person" maxOccurs="2"/>
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="double"/>
						<xs:enumeration value="single"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" type="xs:ID" use="required"/>
			<xs:attribute name="team-name"/>
			<xs:attribute name="team-nr"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="person">
		<xs:complexType>
			<xs:attribute name="firstname" use="required"/>
			<xs:attribute name="lastname" use="required"/>
			<xs:attribute name="birthyear" use="required"/>
			<xs:attribute name="internal-nr" use="required"/>
			<xs:attribute name="licence-nr" use="required"/>
			<xs:attribute name="sex" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="club-name"/>
			<xs:attribute name="club-nr"/>
			<xs:attribute name="club-federation-nickname"/>
			<xs:attribute name="ttr"/>
			<xs:attribute name="ttr-match-count"/>
			<xs:attribute name="nationality"/>
			<xs:attribute name="foreigner-eq-state"/>
			<xs:attribute name="region"/>
			<xs:attribute name="sub-region"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="matches">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="match" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="match">
		<xs:complexType>
			<xs:attribute name="nr"/>
			<xs:attribute name="group"/>
			<xs:attribute name="scheduled"/>
			<xs:attribute name="player-a" type="xs:IDREF" use="required"/>
			<xs:attribute name="player-b" type="xs:IDREF" use="required"/>
			<xs:attribute name="state">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="retired-a"/>
						<xs:enumeration value="retired-b"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="set-a-1" use="required"/>
			<xs:attribute name="set-a-2" use="required"/>
			<xs:attribute name="set-a-3" use="required"/>
			<xs:attribute name="set-a-4" use="required"/>
			<xs:attribute name="set-a-5" use="required"/>
			<xs:attribute name="set-a-6" use="required"/>
			<xs:attribute name="set-a-7" use="required"/>
			<xs:attribute name="sets-a" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
						<xs:enumeration value="5"/>
						<xs:enumeration value="6"/>
						<xs:enumeration value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="matches-a" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="games-a" use="required"/>
			<xs:attribute name="set-b-1" use="required"/>
			<xs:attribute name="set-b-2" use="required"/>
			<xs:attribute name="set-b-3" use="required"/>
			<xs:attribute name="set-b-4" use="required"/>
			<xs:attribute name="set-b-5" use="required"/>
			<xs:attribute name="set-b-6" use="required"/>
			<xs:attribute name="set-b-7" use="required"/>
			<xs:attribute name="sets-b" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
						<xs:enumeration value="5"/>
						<xs:enumeration value="6"/>
						<xs:enumeration value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="matches-b" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="games-b" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>